<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Chitrakoot Web" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Kids Education and Shop Template Template" />
    <meta name="description" content="Kidszone - Kids Education and Shop Template" />

    <!-- title  -->
    <title>Kidszone - Kids Education and Shop Template</title>

    <!-- favicon -->
    <link rel="shortcut icon" href="img/logos/favicon.png" />
    <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png" />

    <!-- plugins -->
    <link rel="stylesheet" href="css/plugins.css" />

    <!-- search css -->
    <link rel="stylesheet" href="search/search.css" />

    <!-- core style css -->
    <link href="css/styles.css" rel="stylesheet" />

</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->

    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style-color">

            <div id="top-bar" class="top-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-6 col-sm-8">

                            <div class="top-bar-info">
                                <ul>
                                    <li><a href="tel:01234567890"><i class="fas fa-mobile-alt"></i><span class="d-none d-sm-inline-block vertical-align-middle padding-10px-left">(+123) 456 7890</span></a></li>
                                    <li><a href="mailto:addyour@emailhere"><i class="far fa-envelope"></i><span class="d-none d-sm-inline-block vertical-align-middle padding-10px-left">addyour@emailhere</span></a></li>
                                </ul>
                            </div>

                        </div>
                        <div class="col-6 col-sm-4">
                            <div class="top-right-bar">
                                <ul class="top-social-icon">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- start top search -->
                <div class="top-search bg-yellow">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- end top search -->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <nav class="navbar navbar-expand-lg navbar-light no-padding">

                                    <div class="navbar-header navbar-header-custom">
                                        <!-- start logo -->
                                        <a href="index.html" class="navbar-brand"><img id="logo" src="img/logos/logo.png" alt="logo"></a>
                                        <!-- end logo -->
                                    </div>

                                    <div class="navbar-toggler"></div>

                                    <!-- start menu area -->
                                    <ul class="navbar-nav ml-auto" id="nav" style="display: none;">
                                        <li><a href="#">Home</a>
                                            <ul>
                                                <li><a href="demo-1.html">Home 01</a></li>
                                                <li><a href="demo-2.html">Home 02</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li><a href="#">Pages</a>
                                            <ul>
                                                <li><a href="#">Courses</a>
                                                    <ul>
                                                        <li><a href="courses-grid.html">Courses Grid</a></li>
                                                        <li><a href="course-details.html">Course Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Teachers</a>
                                                    <ul>
                                                        <li><a href="teachers.html">Teachers</a></li>
                                                        <li><a href="teacher-details.html">Teacher Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Events</a>
                                                    <ul>
                                                        <li><a href="event-grid.html">Event Grid</a></li>
                                                        <li><a href="event-details.html">Event Details</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="photo-gallery.html">Photo Gallery</a></li>
                                                <li><a href="pricing-table.html">Pricing Table</a></li>
                                                <li><a href="time-table.html">Time Table</a></li>
                                                <li><a href="#">Others</a>
                                                    <ul>
                                                        <li><a href="faq.html">Faq</a></li>
                                                        <li><a href="login.html">Login</a></li>
                                                        <li><a href="register.html">Register</a></li>
                                                        <li><a href="forgot-password.html">Forgot Password</a></li>
                                                        <li><a href="404-page.html">404 Page</a></li>
                                                        <li><a href="coming-soon.html">Comingsoon</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Services</a>
                                            <ul>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="services-details.html">Services Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Blog</a>
                                            <ul>
                                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                                <li><a href="blog-list-sidebar.html">Blog with Right Sidebar</a></li>
                                                <li><a href="blog-post.html">Blog Post</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Shop</a>
                                            <ul>
                                                <li><a href="product-four-columns.html">Product Four Columns</a></li>
                                                <li><a href="shop-product-grid.html">Product Grid</a></li>
                                                <li><a href="shop-product-details.html">Product Details</a></li>
                                                <li><a href="shop-product-cart.html">Shop Cart</a></li>
                                                <li><a href="shop-checkout.html">Shop Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact Us</a></li>
                                    </ul>
                                    <!-- end menu area -->

                                    <!-- start atribute navigation -->
                                    <div class="attr-nav sm-no-margin sm-margin-70px-right xs-margin-60px-right">
                                        <ul>
                                            <li class="dropdown sm-margin-20px-right">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-shopping-cart"></i>
                                                    <span class="badge bg-theme">3</span>
                                                </a>
                                                <ul class="dropdown-menu cart-list">
                                                    <li>
                                                        <a href="#" class="photo"><img src="img/shop/cart-thumb-01.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#">Fancy T-Shirt</a></h6>
                                                        <p>2x - <span class="price">$21.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="img/shop/cart-thumb-02.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#">Cotton Top</a></h6>
                                                        <p>1x - <span class="price">$16.00</span></p>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="photo"><img src="img/shop/cart-thumb-03.jpg" class="cart-thumb" alt="" /></a>
                                                        <h6><a href="#">School Bag</a></h6>
                                                        <p>2x - <span class="price">$39.00</span></p>
                                                    </li>
                                                    <li class="total bg-theme">
                                                        <span class="pull-left"><strong>Total</strong>: $54.00</span>
                                                        <a href="#" class="butn small btn-cart yellow"><span>View Cart</span></a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="search"><a href="javascript:void(0)"><i class="fas fa-search"></i></a></li>
                                        </ul>
                                    </div>
                                    <!-- end atribute navigation -->

                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <!-- start page title section -->
        <section class="page-title-section bg-img cover-background bg-yellow" data-overlay-dark="0" data-background="img/bg/bg1.jpg">
            <div class="container">
                <div class="page-title">
                    <h1>Shop Checkout</h1>
                    <div class="page-link">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="javascript:void(0)">Shop Checkout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title section -->

        <!-- start checkout section -->
        <section>
            <div class="container">

                <!-- start form design block set -->
                <div class="row">
                    <div class="col-12">
                        <div class="process-steps margin-60px-bottom md-margin-50px-bottom sm-margin-45px-bottom xs-margin-30px-bottom margin-10px-top">
                            <div class="step active ms-margin-20px-bottom">
                                <a href="shop-checkout.html">
                                    <i class="fas fa-user font-size30 sm-font-size24 margin-10px-bottom"></i>
                                    <h4 class="step-title">1. Personal info</h4>
                                </a>
                            </div>
                            <div class="step ms-margin-20px-bottom">
                                <a href="shop-checkout-payment.html">
                                    <i class="fas fa-dollar-sign font-size30 sm-font-size24 margin-10px-bottom"></i>
                                    <h4 class="step-title">2. Payment Mathod</h4>
                                </a>
                            </div>
                            <div class="step ms-margin-20px-bottom">
                                <a href="shop-checkout-confirmation.html">
                                    <i class="fas fa-check font-size30 sm-font-size24 margin-10px-bottom"></i>
                                    <h4 class="step-title">3. Confirmation</h4>
                                </a>
                            </div>
                        </div>

                        <div class="row">
                            <!-- start left side -->
                            <div class="order-2 order-lg-1 col-lg-8 sm-margin-40px-top xs-margin-30px-top">
                                <div class="block-info">
                                    <h6 class="bg-pink">Billing Address</h6>
                                    <div class="padding-50px-all xs-padding-30px-all">
                                        <form method="post">
                                            <div class="row">

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>First Name *:</label>
                                                        <input type="text" name="First Name" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Last Name *:</label>
                                                        <input type="text" name="Last Name" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Address *:</label>
                                                        <input type="text" name="Address1" class="form-control">
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" name="Address2" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>City / Town *:</label>
                                                        <input type="text" name="city" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Postcode *:</label>
                                                        <input type="text" name="zip" class="form-control">
                                                    </div>
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Country *:</label>

                                                        <select class="form-control">
                                                            <option value="" selected="selected">Select a country</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AD">Andorra</option>
                                                            <option value="AO">Angola</option>
                                                            <option value="AI">Anguilla</option>
                                                            <option value="AQ">Antarctica</option>
                                                            <option value="AG">Antigua and Barbuda</option>
                                                            <option value="AR">Argentina</option>
                                                            <option value="AM">Armenia</option>
                                                            <option value="AW">Aruba</option>
                                                            <option value="AU">Australia</option>
                                                            <option value="AT">Austria</option>
                                                            <option value="AZ">Azerbaijan</option>
                                                            <option value="BS">Bahamas</option>
                                                            <option value="BH">Bahrain</option>
                                                            <option value="BD">Bangladesh</option>
                                                            <option value="BB">Barbados</option>
                                                            <option value="BY">Belarus</option>
                                                            <option value="PW">Belau</option>
                                                            <option value="BE">Belgium</option>
                                                            <option value="BZ">Belize</option>
                                                            <option value="BJ">Benin</option>
                                                            <option value="BM">Bermuda</option>
                                                            <option value="BT">Bhutan</option>
                                                            <option value="BO">Bolivia</option>
                                                            <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                                                            <option value="BA">Bosnia and Herzegovina</option>
                                                            <option value="BW">Botswana</option>
                                                            <option value="BV">Bouvet Island</option>
                                                            <option value="BR">Brazil</option>
                                                            <option value="IO">British Indian Ocean Territory</option>
                                                            <option value="VG">British Virgin Islands</option>
                                                            <option value="BN">Brunei</option>
                                                            <option value="BG">Bulgaria</option>
                                                            <option value="BF">Burkina Faso</option>
                                                            <option value="BI">Burundi</option>
                                                            <option value="KH">Cambodia</option>
                                                            <option value="CM">Cameroon</option>
                                                            <option value="CA">Canada</option>
                                                            <option value="CV">Cape Verde</option>
                                                            <option value="KY">Cayman Islands</option>
                                                            <option value="CF">Central African Republic</option>
                                                            <option value="TD">Chad</option>
                                                            <option value="CL">Chile</option>
                                                            <option value="CN">China</option>
                                                            <option value="CX">Christmas Island</option>
                                                            <option value="CC">Cocos (Keeling) Islands</option>
                                                            <option value="CO">Colombia</option>
                                                            <option value="KM">Comoros</option>
                                                            <option value="CG">Congo (Brazzaville)</option>
                                                            <option value="CD">Congo (Kinshasa)</option>
                                                            <option value="CK">Cook Islands</option>
                                                            <option value="CR">Costa Rica</option>
                                                            <option value="HR">Croatia</option>
                                                            <option value="CU">Cuba</option>
                                                            <option value="CW">CuraÇao</option>
                                                            <option value="CY">Cyprus</option>
                                                            <option value="CZ">Czech Republic</option>
                                                            <option value="DK">Denmark</option>
                                                            <option value="DJ">Djibouti</option>
                                                            <option value="DM">Dominica</option>
                                                            <option value="DO">Dominican Republic</option>
                                                            <option value="EC">Ecuador</option>
                                                            <option value="EG">Egypt</option>
                                                            <option value="SV">El Salvador</option>
                                                            <option value="GQ">Equatorial Guinea</option>
                                                            <option value="ER">Eritrea</option>
                                                            <option value="EE">Estonia</option>
                                                            <option value="ET">Ethiopia</option>
                                                            <option value="FK">Falkland Islands</option>
                                                            <option value="FO">Faroe Islands</option>
                                                            <option value="FJ">Fiji</option>
                                                            <option value="FI">Finland</option>
                                                            <option value="FR">France</option>
                                                            <option value="GF">French Guiana</option>
                                                            <option value="PF">French Polynesia</option>
                                                            <option value="TF">French Southern Territories</option>
                                                            <option value="GA">Gabon</option>
                                                            <option value="GM">Gambia</option>
                                                            <option value="GE">Georgia</option>
                                                            <option value="DE">Germany</option>
                                                            <option value="GH">Ghana</option>
                                                            <option value="GI">Gibraltar</option>
                                                            <option value="GR">Greece</option>
                                                            <option value="GL">Greenland</option>
                                                            <option value="GD">Grenada</option>
                                                            <option value="GP">Guadeloupe</option>
                                                            <option value="GT">Guatemala</option>
                                                            <option value="GG">Guernsey</option>
                                                            <option value="GN">Guinea</option>
                                                            <option value="GW">Guinea-Bissau</option>
                                                            <option value="GY">Guyana</option>
                                                            <option value="HT">Haiti</option>
                                                            <option value="HM">Heard Island and McDonald Islands</option>
                                                            <option value="HN">Honduras</option>
                                                            <option value="HK">Hong Kong</option>
                                                            <option value="HU">Hungary</option>
                                                            <option value="IS">Iceland</option>
                                                            <option value="IN">India</option>
                                                            <option value="ID">Indonesia</option>
                                                            <option value="IR">Iran</option>
                                                            <option value="IQ">Iraq</option>
                                                            <option value="IM">Isle of Man</option>
                                                            <option value="IL">Israel</option>
                                                            <option value="IT">Italy</option>
                                                            <option value="CI">Ivory Coast</option>
                                                            <option value="JM">Jamaica</option>
                                                            <option value="JP">Japan</option>
                                                            <option value="JE">Jersey</option>
                                                            <option value="JO">Jordan</option>
                                                            <option value="KZ">Kazakhstan</option>
                                                            <option value="KE">Kenya</option>
                                                            <option value="KI">Kiribati</option>
                                                            <option value="KW">Kuwait</option>
                                                            <option value="KG">Kyrgyzstan</option>
                                                            <option value="LA">Laos</option>
                                                            <option value="LV">Latvia</option>
                                                            <option value="LB">Lebanon</option>
                                                            <option value="LS">Lesotho</option>
                                                            <option value="LR">Liberia</option>
                                                            <option value="LY">Libya</option>
                                                            <option value="LI">Liechtenstein</option>
                                                            <option value="LT">Lithuania</option>
                                                            <option value="LU">Luxembourg</option>
                                                            <option value="MO">Macao S.A.R., China</option>
                                                            <option value="MK">Macedonia</option>
                                                            <option value="MG">Madagascar</option>
                                                            <option value="MW">Malawi</option>
                                                            <option value="MY">Malaysia</option>
                                                            <option value="MV">Maldives</option>
                                                            <option value="ML">Mali</option>
                                                            <option value="MT">Malta</option>
                                                            <option value="MH">Marshall Islands</option>
                                                            <option value="MQ">Martinique</option>
                                                            <option value="MR">Mauritania</option>
                                                            <option value="MU">Mauritius</option>
                                                            <option value="YT">Mayotte</option>
                                                            <option value="MX">Mexico</option>
                                                            <option value="FM">Micronesia</option>
                                                            <option value="MD">Moldova</option>
                                                            <option value="MC">Monaco</option>
                                                            <option value="MN">Mongolia</option>
                                                            <option value="ME">Montenegro</option>
                                                            <option value="MS">Montserrat</option>
                                                            <option value="MA">Morocco</option>
                                                            <option value="MZ">Mozambique</option>
                                                            <option value="MM">Myanmar</option>
                                                            <option value="NA">Namibia</option>
                                                            <option value="NR">Nauru</option>
                                                            <option value="NP">Nepal</option>
                                                            <option value="NL">Netherlands</option>
                                                            <option value="AN">Netherlands Antilles</option>
                                                            <option value="NC">New Caledonia</option>
                                                            <option value="NZ">New Zealand</option>
                                                            <option value="NI">Nicaragua</option>
                                                            <option value="NE">Niger</option>
                                                            <option value="NG">Nigeria</option>
                                                            <option value="NU">Niue</option>
                                                            <option value="NF">Norfolk Island</option>
                                                            <option value="KP">North Korea</option>
                                                            <option value="NO">Norway</option>
                                                            <option value="OM">Oman</option>
                                                            <option value="PK">Pakistan</option>
                                                            <option value="PS">Palestinian Territory</option>
                                                            <option value="PA">Panama</option>
                                                            <option value="PG">Papua New Guinea</option>
                                                            <option value="PY">Paraguay</option>
                                                            <option value="PE">Peru</option>
                                                            <option value="PH">Philippines</option>
                                                            <option value="PN">Pitcairn</option>
                                                            <option value="PL">Poland</option>
                                                            <option value="PT">Portugal</option>
                                                            <option value="QA">Qatar</option>
                                                            <option value="IE">Republic of Ireland</option>
                                                            <option value="RE">Reunion</option>
                                                            <option value="RO">Romania</option>
                                                            <option value="RU">Russia</option>
                                                            <option value="RW">Rwanda</option>
                                                            <option value="ST">São Tomé and Príncipe</option>
                                                            <option value="BL">Saint Barthélemy</option>
                                                            <option value="SH">Saint Helena</option>
                                                            <option value="KN">Saint Kitts and Nevis</option>
                                                            <option value="LC">Saint Lucia</option>
                                                            <option value="SX">Saint Martin (Dutch part)</option>
                                                            <option value="MF">Saint Martin (French part)</option>
                                                            <option value="PM">Saint Pierre and Miquelon</option>
                                                            <option value="VC">Saint Vincent and the Grenadines</option>
                                                            <option value="SM">San Marino</option>
                                                            <option value="SA">Saudi Arabia</option>
                                                            <option value="SN">Senegal</option>
                                                            <option value="RS">Serbia</option>
                                                            <option value="SC">Seychelles</option>
                                                            <option value="SL">Sierra Leone</option>
                                                            <option value="SG">Singapore</option>
                                                            <option value="SK">Slovakia</option>
                                                            <option value="SI">Slovenia</option>
                                                            <option value="SB">Solomon Islands</option>
                                                            <option value="SO">Somalia</option>
                                                            <option value="ZA">South Africa</option>
                                                            <option value="GS">South Georgia/Sandwich Islands</option>
                                                            <option value="KR">South Korea</option>
                                                            <option value="SS">South Sudan</option>
                                                            <option value="ES">Spain</option>
                                                            <option value="LK">Sri Lanka</option>
                                                            <option value="SD">Sudan</option>
                                                            <option value="SR">Suriname</option>
                                                            <option value="SJ">Svalbard and Jan Mayen</option>
                                                            <option value="SZ">Swaziland</option>
                                                            <option value="SE">Sweden</option>
                                                            <option value="CH">Switzerland</option>
                                                            <option value="SY">Syria</option>
                                                            <option value="TW">Taiwan</option>
                                                            <option value="TJ">Tajikistan</option>
                                                            <option value="TZ">Tanzania</option>
                                                            <option value="TH">Thailand</option>
                                                            <option value="TL">Timor-Leste</option>
                                                            <option value="TG">Togo</option>
                                                            <option value="TK">Tokelau</option>
                                                            <option value="TO">Tonga</option>
                                                            <option value="TT">Trinidad and Tobago</option>
                                                            <option value="TN">Tunisia</option>
                                                            <option value="TR">Turkey</option>
                                                            <option value="TM">Turkmenistan</option>
                                                            <option value="TC">Turks and Caicos Islands</option>
                                                            <option value="TV">Tuvalu</option>
                                                            <option value="UG">Uganda</option>
                                                            <option value="UA">Ukraine</option>
                                                            <option value="AE">United Arab Emirates</option>
                                                            <option value="GB">United Kingdom (UK)</option>
                                                            <option value="US">United States (US)</option>
                                                            <option value="UY">Uruguay</option>
                                                            <option value="UZ">Uzbekistan</option>
                                                            <option value="VU">Vanuatu</option>
                                                            <option value="VA">Vatican</option>
                                                            <option value="VE">Venezuela</option>
                                                            <option value="VN">Vietnam</option>
                                                            <option value="WF">Wallis and Futuna</option>
                                                            <option value="EH">Western Sahara</option>
                                                            <option value="WS">Western Samoa</option>
                                                            <option value="YE">Yemen</option>
                                                            <option value="ZM">Zambia</option>
                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                    </div>

                                                </div>

                                                <div class="col-md-12 margin-15px-top">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="terms-condition">
                                                        <label class="custom-control-label" for="terms-condition">I agree to the <a href="#!">Terms &amp; Conditions</a></label>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="margin-30px-top sm-margin-20px-top text-right">
                                                <a href="shop-checkout-payment.html" class="butn small margin-5px-bottom">Next</a>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>
                            <!-- end left side -->

                            <!-- start right side -->
                            <div class="col-lg-4 order-1 order-lg-2">
                                <div class="padding-30px-left sm-no-padding-left">
                                    <div class="block-info">
                                        <h6 class="bg-green">Morning Session</h6>
                                        <ul class="list-style12">
                                            <li>
                                                <span class="icon fas fa-birthday-cake text-sky font-size20 vertical-align-middle width-40px"></span>2 Meals/Day
                                            </li>
                                            <li>
                                                <span class="fas fa-briefcase-medical text-yellow font-size20 vertical-align-middle width-40px"></span>Medical Assistance
                                            </li>
                                            <li>
                                                <span class="fas fa-paint-brush text-pink font-size20 vertical-align-middle width-40px"></span>Drowing & Dancing
                                            </li>
                                            <li>
                                                <span class="fas fa-car text-green font-size20 vertical-align-middle width-40px"></span>Free Transport
                                            </li>
                                            <li>
                                                <span class="fas fa-dollar-sign text-purple font-size20 vertical-align-middle width-40px"></span>
                                                <span>69 Per Month</span>
                                            </li>
                                            <li class="text-center">
                                                <a href="javascript:void(0)" class="butn orange small vertical-align-middle margin-15px-tb">Change Plan</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- end right side -->
                        </div>
                    </div>
                </div>
                <!-- end form design block set -->

            </div>
        </section>
        <!-- end checkout section -->

        <!-- start footer section -->
        <footer>
            <div class="footer-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 col-12 sm-margin-30px-bottom">
                            <div class="footer margin-20px-bottom"><img src="img/logos/logo.png" alt="" class="width-75 sm-width-150px" /></div>
                            <p class="margin-10px-bottom">Adipisci velit, sed quia numquam eius moditempora inciduntdolo magnam voluptatem.</p>
                            <a href="about.html" class="text-sky font-weight-700">read more<i class="fas fa-angle-right padding-10px-left display-inline-block vertical-align-middle"></i></a>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-12 sm-margin-30px-bottom">
                            <div class="padding-50px-left md-padding-20px-left ms-no-padding-left">
                                <h4 class="font-size22 sm-font-size20 xs-font-size18 font-weight-800 margin-25px-bottom sm-margin-20px-bottom ms-margin-15px-bottom">Useful Links</h4>
                                <ul class="list-style3">
                                    <li><a href="about.html">About Kidz School</a></li>
                                    <li><a href="login.html">Admission Open</a></li>
                                    <li><a href="photo-gallery.html">Photo Gallery</a></li>
                                    <li><a href="services.html">Best Services</a></li>
                                    <li><a href="teachers.html">Our Teachers</a></li>

                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-12 ms-margin-30px-bottom">
                            <h4 class="font-size22 sm-font-size20 xs-font-size18 font-weight-800 margin-25px-bottom sm-margin-20px-bottom ms-margin-15px-bottom">Opening Hours</h4>
                            <ul class="list-style2">
                                <li>Mon-Wed<span class="float-right">08:00-12:00 </span> </li>
                                <li>Thr-Fri<span class="float-right"> 09:00-01:00</span> </li>
                                <li>Saturday<span class="float-right">09:00-11:00</span> </li>
                                <li>Sunday<span class="float-right">Closed</span> </li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-sm-6 col-12">
                            <div class="padding-50px-left md-padding-20px-left ms-no-padding-left">
                                <h4 class="font-size22 sm-font-size20 xs-font-size18 font-weight-800 margin-25px-bottom sm-margin-20px-bottom">Contact Us</h4>
                                <ul class="contact-info">
                                    <li><i class="fas fa-mobile-alt"></i><a href="tel:01234567890">+1 234 567 890</a></li>
                                    <li><i class="far fa-envelope"></i><a href="mailto:addyour@emailhere">addyour@emailhere</a></li>
                                    <li><i class="fas fa-map-marker-alt"></i> 74 Guild Street 542B, Town MT. NY 10013.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bar">
                <div class="container">
                    <p>&copy; 2020 Kidszone is Powered by Chitrakoot Web</p>
                </div>
            </div>
        </footer>
        <!-- end footer section -->

    </div>
    <!-- end main-wrapper section -->

    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->

    <!-- all js include start -->

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- modernizr js -->
    <script src="js/modernizr.js"></script>

    <!-- bootstrap -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Serch -->
    <script src="search/search.js"></script>

    <!-- navigation -->
    <script src="js/nav-menu.js"></script>

    <!-- tab -->
    <script src="js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="js/isotope.pkgd.min.js"></script>

    <!-- range slider -->
    <script src="js/ion.rangeSlider.min.js"></script>

    <!-- custom scripts -->
    <script src="js/main.js"></script>

    <!-- all js include end -->

</body>

</html>